html {
  font-family: "Anonymous Pro", "Source Code Pro", "Lucida Console", "Courier New", "Consolas", "Droid Sans Mono", monospace;
  font-size: 12pt;
  background-color: #eee;
  color: #555;
}
p {
  font-size: 0.9em;
}
a {
  color: #77e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.main-content {
  margin-left: 2em;
  margin-right: 2em;
  padding: 0 1em;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}
#page-header {
  text-align: center;
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-align: center;
}
.link-delimiter {
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
  border-top: 1px solid #666;
}
.link {
  padding: 0.1em 0.5em;
  background-color: #ddd;
}
.link.alternate {
  background-color: #eee;
}
.link-header {
  text-align: right;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.link-date {
  display: block;
  text-align: right;
  margin-top: 0.2em;
  margin-bottom: 0.6em;
}
.alternate .link-header {
  text-align: left;
}
.alternate .link-date {
  text-align: left;
}
#links-bar {
  font-size: 0.9em;
  text-align: center;
  margin-top: 1em;
}
