html {
  font-family: "Anonymous Pro", "Source Code Pro", "Lucida Console", "Courier New", "Consolas", "Droid Sans Mono", monospace;
  font-size: 12pt;
  background-color: #eef;
  color: #555;
}
p {
  font-size: 0.9em;
  line-height: 1.25em;
}
a {
  color: #77e;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#main-content {
  margin-left: 30%;
  margin-right: 30%;
  padding: 0 1em;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  margin-bottom: 10em;
}
.center-aligned {
  text-align: center;
}
.smaller {
  font-size: 0.8em;
}
.italic {
  font-style: italic;
}
#page-header {
  text-align: center;
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-align: center;
}
.link-delimiter {
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
  border-top: 1px solid #666;
}
.link {
  padding: 0.1em 0.5em;
  background-color: #ddd;
}
.link.alternate {
  background-color: #eef;
}
.link-header {
  text-align: right;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.link-date {
  display: block;
  text-align: right;
  margin-top: 0.2em;
  margin-bottom: 0.6em;
}
.alternate .link-header {
  text-align: left;
}
.alternate .link-date {
  text-align: left;
}
#links-bar {
  font-size: 0.9em;
  text-align: center;
  margin-top: 1em;
}
code {
  font-family: "Anonymous Pro", "Source Code Pro", "Lucida Console", "Courier New", "Consolas", "Droid Sans Mono", monospace;
  color: #222;
  background-color: #ddd;
  border: 1px solid #999;
  border-radius: 0.5em;
  padding: 1px 3px;
}
pre {
  margin: 5px;
  padding: 5px;
  overflow: auto;
  border: 1px solid #999;
  border-radius: 0.25em;
  background-color: #ddd;
}
pre code {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-size: 0.8em;
  width: 100%;
}
