code
	font-family font
	color codeForegroundColor
	background-color codeBackgroundColor
	border 1px solid codeBorderColor
	border-radius 0.5em
	padding 1px 3px

pre
	margin 5px
	padding 5px
	overflow auto
	border 1px solid codeBorderColor
	border-radius 0.25em
	background-color codeBackgroundColor
	
pre code
	background none
	border none
	margin 0
	padding 0
	border-radius 0
	font-size 0.8em
	width 100%