@require "variables"

html
	font-family font
	font-size fontSize
	background-color backgroundColor
	color foregroundColor

p
	font-size 0.9em
	line-height 1.25em

a
	color linkColor
	text-decoration none
	&:hover
		text-decoration underline

#main-content
	margin-left 30%
	margin-right 30%
	padding 0 1em
	border-left 1px solid borderColor
	border-right 1px solid borderColor
	margin-bottom: 10em

.smaller
	font-size 0.8em

.italic
	font-style italic

.center-aligned
	text-align center

#page-header
	text-align center
	margin-bottom 0

@require "headers"
@require "link"
@require "links-bar"
@require "code"