.link-delimiter
	margin-top 2em
	margin-bottom 2em
	display block
	border-top 1px solid borderColor

.link
	padding 0.1em 0.5em
	background-color linkBackgroundColor
	&.alternate
		background-color backgroundColor

.link-header
	text-align right
	margin-top 0.2em
	margin-bottom 0.2em

.link-date
	display block
	text-align right
	margin-top 0.2em
	margin-bottom 0.6em

.alternate .link-header
	text-align left

.alternate .link-date
	text-align left