.recent-delimiter
	margin-top 2em
	margin-bottom 2em
	display block
	border-top 1px solid borderColor

.recent
	padding 0.1em 0.5em
	background-color recentBackgroundColor
	&.alternate
		background-color backgroundColor

.recent-header
	text-align right
	margin-top 0.2em
	margin-bottom 0.2em

.recent-date
	display block
	text-align right
	margin-top 0.2em
	margin-bottom 0.6em

.alternate .recent-header
	text-align left

.alternate .recent-date
	text-align left