font = "Anonymous Pro", "Source Code Pro", "Lucida Console", "Courier New", "Consolas", "Droid Sans Mono", monospace

fontSize = 12pt
foregroundColor = #555
backgroundColor = #eee
borderColor = #666
linkColor = #77e

linkBackgroundColor = #ddd