font = "Anonymous Pro", "Source Code Pro", "Lucida Console", "Courier New", "Consolas", "Droid Sans Mono", monospace

fontSize = 12pt
foregroundColor = #555
backgroundColor = #eef
borderColor = #666
linkColor = #77e

codeForegroundColor = #222
codeBackgroundColor = #ddd
codeBorderColor = #999

linkBackgroundColor = #ddd